.navbar-brand, #add-recipe {
  color: white;
  margin-left: 90px;
  margin-right: 90px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: .25rem;
}

#add-recipe:hover {
  background-color: white;
  color: #5cb85c;
}

.spacer {
  height: 64px;
  background-color: #5cb85c;
}